.nav-item.dropdown .dropdown-item.active, 
.nav-item.dropdown .dropdown-item:active {
    background-color: green !important;
    color: green !important;
}

.refresh-icon {
    cursor: pointer;
    padding-left: 10px;
    font-size: 28px;
    transition: color 0.3s ease;
}

.refresh-icon:hover {
    color: #a1a4a8;
}